@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,300&subset=latin,cyrillic);

body {
	font-size: $baseFontSize / 10px * 1rem;
	line-height: 1.42;
	font-family: 'Open Sans', sans-serif;
	color: $textColor;
	background: #F7F7F9;
}

.mv-button {
	display: inline-block;
	font-size: 1.4rem;
	line-height: .71;
	color: #fff;
	white-space: nowrap;
	text-align: center;
	text-decoration: none;
	padding: 1.2rem 2rem 1.3rem;
	cursor: pointer;
	@include user-select(none);
	border: 0;
	border-radius: .5rem;
	background: $grey;
	transition: background-color .15s linear;
	
	&:hover,
	&:active,
	&:focus {
		color: #fff;
		text-decoration: none;
	}
	&:hover {
		background-color: $grey + 20;
	}
	&:focus {
		outline-offset: .1rem;
		outline: thin dotted $grey;
	}
	&:active {
		box-shadow: inset 0 0 .3rem rgba(0,0,0,.35);
	}
	&.mv-button-big {
		font-size: 1.8rem;
		padding: 2rem 4rem 2.1rem;
		border-radius: .6rem;
		
		&:active {
			box-shadow: inset 0 0 .5rem rgba(0,0,0,.35);
		}
	}
	&.mv-button-orange {
		background: $orange;
		
		&:hover {
			background-color: $orange + 20;
		}
	}
}

.mv-user-box {
	width: 40rem;
	margin: 10rem auto;
}
.mv-user-box-title {
	font-size: 2rem;
	font-weight: 300;
	padding: .8rem 0;
	text-align: center;
}
.mv-user-box-body {
	padding: 3rem;
}