@import 'variables';
@import 'mixins';
// При вычислении условий media-правила 1rem = 16px,
// поэтому для вычисления брейкпоинта надо использовать функцию rem();
$desktop-width: 110rem;
$desktop-width-breakpoint: rem(1200px);
$mobile-width: 47rem;
$mobile-width-breakpoint: rem(470px);
$media-query: 'screen and (orientation: portrait), screen and (max-width: #{$desktop-width-breakpoint})';

body {
	min-height: 50rem;
	overflow-x: hidden;
	background: #fff;
}
.mv-fp-bg-nest {
	position: absolute;
	width: 100%;
	height: 100%;
	min-height: 50rem;
	overflow: hidden;
}
.mv-fp-bg-shell {
	position: relative;
	width: $desktop-width;
	margin: 0 auto;
	
	@media #{$media-query} {
		width: $mobile-width;
	}
}
.mv-fp-bg {
	position: absolute;
	@include user-select(none);
	transition: opacity 1s linear;
	
	&.mv-mod-hidden {
		opacity: 0;
	}
}
.mv-fp-bg-desktop {
	width: 198rem;
	top: -74rem;
	right: -72rem;
	
	@media #{$media-query} {
		visibility: hidden;
	}
}
.mv-fp-bg-mobile {
	visibility: hidden;
	
	@media #{$media-query} {
		visibility: visible;
		width: 184rem;
		top: -60rem;
		right: -68rem;
	}
}
.mv-fp-content-nest {
	position: absolute;
}
.mv-fp-content {
	width: $desktop-width;
	margin: 0 auto;
	padding-top: 9rem;
	position: relative;
	
	@media #{$media-query} {
		width: $mobile-width;
		margin: 3rem auto;
	}
}
.mv-fp-logo {
	position: absolute;
	top: -4.2rem;
	left: -4.2rem;
	width: 52.6rem;
	display: block;
	@include user-select(none);
	transition: opacity 1s ease-out, transform 1s ease-out;
	
	@media #{$media-query} {
		left: 50%;
		margin-left: -26.3rem;
	}
	
	&.mv-mod-hidden {
		opacity: 0;
		transform: translateY(-2rem);
	}
}
.mv-fp-sublogo {
	position: absolute;
	top: 7.4rem;
	left: 31.3rem;
	width: 13.2rem;
	display: block;
	@include user-select(none);
	transition: opacity .5s ease-out, transform .5s ease-out;
	
	@media #{$media-query} {
		left: 32.6rem;
	}
	
	&.mv-mod-hidden {
		opacity: 0;
		transform: translateY(-1rem);
	}
}
.mv-fp-text {
	font-size: 1.6rem;
	color: #646464 + 20;
	line-height: 2.4rem;
	margin: 3.3rem 0 5.7rem;
	transition: opacity .5s ease-out, transform .5s ease-out;
	
	@media #{$media-query} {
		margin-top: 2rem;
		text-align: center;
	}
	
	&.mv-mod-hidden {
		opacity: 0;
		transform: translateY(-1rem);
	}
}
.mv-fp-buttons {
	transition: opacity .5s ease-out, transform .5s ease-out;
	
	&.mv-mod-hidden {
		opacity: 0;
		transform: translateY(-1rem);
	}
	.mv-button {
		width: 22rem;
		margin: 0 3rem 0 0;
		@include first-last-no-margin-horizontal;
	}
}
.mv-fp-screens {
	position: absolute;
	top: -7.5rem;
	right: -2.5rem;
	text-align: center;
	transition: opacity .5s linear;
	
	@media #{$media-query} {
		position: relative;
		top: 0;
		left: 0;
		margin: 5rem 0 0;
		height: 27rem;
	}
	
	&.mv-mod-hidden {
		opacity: 0;
	}
}
.mv-fp-screens-slider-clip {
	position: relative;
	width: 60rem;
	height: 30.5rem;
	overflow: hidden;
	
	@media #{$media-query} {
		position: absolute;
		left: 50%;
		width: 70rem;
		height: 25rem;
		margin-left: -35rem;
	}
}
.mv-fp-screens-slider {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -75rem;
	width: 150rem;
	
	@media #{$media-query} {
		margin-left: -65rem;
		width: 130rem;
	}
	
	.slick-slide {
		opacity: 0;
		transition: opacity .15s linear;
	}
	.slick-active {
	}
	.slick-center {
		opacity: 1;
	}
}
.mv-fp-screens-slider-prev {
	position: absolute;
	left: 52%;
	margin-left: -7rem;
	border: 0;
	width: 4.6rem;
	height: 4.6rem;
	text-align: center;
	background: $orange;
	border-radius: 50%;
	padding: 1rem;
	cursor: pointer;
	//margin: 0 1rem;
	transition: background-color .15s linear;
	
	&:hover {
		background: $orange + 20;
	}
	&:focus {
		outline-offset: .1rem;
		//outline: thin dotted $grey;
		outline: 0;
	}
	&:active {
		box-shadow: inset 0 0 .3rem rgba(0,0,0,.35);
	}
	
	@media #{$media-query} {
		position: absolute;
		left: -2rem;
		top: 39%;
		margin: 0;
	}
}
.mv-fp-screens-slider-next {
	@extend .mv-fp-screens-slider-prev;
	margin-left: 0;
	margin-right: -7rem;
	
	@media #{$media-query} {
		left: auto;
		right: -2rem;
		margin: 0;
	}
}
.mv-fp-screens-slider-prev-inner {
	display: inline-block;
	width: 2rem;
	height: 2.6rem;
	position: relative;
	left: -.2rem;
	background: url('../img/fp-arrows-sprite.png') no-repeat;
	background-size: 4rem 2.6rem;
}
.mv-fp-screens-slider-next-inner {
	@extend .mv-fp-screens-slider-prev-inner;
	background-position: 100% 0;
	left: .2rem;
}
.mv-fp-loading-screen {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: white;
	text-align: center;
	z-index: 1000;
}
.mv-fp-loading-screen-content {
	transition: transform .4s cubic-bezier(.45,-0.36,.79,.37), opacity .4s linear;
	
	&.mv-mod-hidden {
		opacity: 0;
		transform: translateY(-4rem);
	}
}
.mv-fp-loading-screen-icon {
	
}
.mv-fp-loading-screen-text {
	display: inline-block;
	color: $grey - 30;
	text-transform: uppercase;
	font-size: 1.2rem;
	font-weight: 700;
	margin-top: .8rem;
	background: #f5f5f5;
	border-radius: 2rem;
	padding: .5rem 1.2rem;
	/*
	*/
}