.helper-full-width {
	width: 100%;
}
.helper-full-height {
	height: 100%;
}
.helper-half {
	width: 50%;
}
.helper-row, .helper-col {
	display: table;
	width: 100%;
}
.helper-initial-width {
	width: auto;
}
.helper-cell {
	display: table-cell;
	vertical-align: top;
}
.helper-row-with-cell-padding > .helper-cell {
	padding-right: 1em;
}
.helper-row-with-cell-padding > .helper-cell.helper-no-padding, 
.helper-row-with-cell-padding > .helper-cell:last-child {
	padding-right: 0;
}
.helper-col > .helper-row {
	display: table-row;
}
.helper-table-right {
	float: right;
}
.helper-top {
	vertical-align: top;
}
.helper-middle {
	vertical-align: middle;
}
.helper-bottom {
	vertical-align: bottom;
}
.helper-left {
	text-align: left;
}
.helper-center {
	text-align: center;
}
.helper-right {
	text-align: right;
}
.helper-padding-xxs {
	padding: .5em;
}
.helper-padding-xs {
	padding: 1em;
}
.helper-padding-s {
	padding: 2em;
}
.helper-padding-m {
	padding: 4em;
}
.helper-padding-l {
	padding: 6em;
}
.helper-padding-xl {
	padding: 10em;
}
.helper-padding-xxl {
	padding: 20em;
}
.helper-padding-v-xxs {
	padding-top: .5em;
	padding-bottom: .5em;
}
.helper-padding-v-xs {
	padding-top: 1em;
	padding-bottom: 1em;
}
.helper-padding-v-s {
	padding-top: 2em;
	padding-bottom: 2em;
}
.helper-padding-v-m {
	padding-top: 4em;
	padding-bottom: 4em;
}
.helper-padding-v-l {
	padding-top: 6em;
	padding-bottom: 6em;
}
.helper-padding-v-xl {
	padding-top: 10em;
	padding-bottom: 10em;
}
.helper-padding-v-xxl {
	padding-top: 20em;
	padding-bottom: 20em;
}
.helper-padding-h-xxs {
	padding-left: .5em;
	padding-right: .5em;
}
.helper-padding-h-xs {
	padding-left: 1em;
	padding-right: 1em;
}
.helper-padding-h-s {
	padding-left: 2em;
	padding-right: 2em;
}
.helper-padding-h-m {
	padding-left: 4em;
	padding-right: 4em;
}
.helper-padding-h-l {
	padding-left: 6em;
	padding-right: 6em;
}
.helper-padding-h-xl {
	padding-left: 10em;
	padding-right: 10em;
}
.helper-padding-h-xxl {
	padding-left: 20em;
	padding-right: 20em;
}
.helper-margin-xxs {
	margin: .5em;
}
.helper-margin-xs {
	margin: 1em;
}
.helper-margin-s {
	margin: 2em;
}
.helper-margin-m {
	margin: 4em;
}
.helper-margin-l {
	margin: 6em;
}
.helper-margin-xl {
	margin: 10em;
}
.helper-margin-xxl {
	margin: 20em;
}
.helper-margin-xxs {
	margin: .5em;
}
.helper-margin-xs {
	margin: 1em;
}
.helper-margin-s {
	margin: 2em;
}
.helper-margin-m {
	margin: 4em;
}
.helper-margin-l {
	margin: 6em;
}
.helper-margin-xl {
	margin: 10em;
}
.helper-margin-xxl {
	margin: 20em;
}
.helper-margin-v-xxs {
	margin-top: .5em;
	margin-bottom: .5em;
}
.helper-margin-v-xs {
	margin-top: 1em;
	margin-bottom: 1em;
}
.helper-margin-v-s {
	margin-top: 2em;
	margin-bottom: 2em;
}
.helper-margin-v-m {
	margin-top: 4em;
	margin-bottom: 4em;
}
.helper-margin-v-l {
	margin-top: 6em;
	margin-bottom: 6em;
}
.helper-margin-v-xl {
	margin-top: 10em;
	margin-bottom: 10em;
}
.helper-margin-v-xxl {
	margin-top: 20em;
	margin-bottom: 20em;
}
.helper-margin-h-xxs {
	margin-left: .5em;
	margin-right: .5em;
}
.helper-margin-h-xs {
	margin-left: 1em;
	margin-right: 1em;
}
.helper-margin-h-s {
	margin-left: 2em;
	margin-right: 2em;
}
.helper-margin-h-m {
	margin-left: 4em;
	margin-right: 4em;
}
.helper-margin-h-l {
	margin-left: 6em;
	margin-right: 6em;
}
.helper-margin-h-xl {
	margin-left: 10em;
	margin-right: 10em;
}
.helper-margin-h-xxl {
	margin-left: 20em;
	margin-right: 20em;
}
.helper-no-margin {
	margin: 0;
}
.helper-no-padding {
	padding: 0;
}
.helper-collapse,
.helper-no-width {
	width: 1%;
}
.helper-collapse-height,
.helper-no-height {
	height: 1%;
}
.helper-no-wrap {
	white-space: nowrap;
}
