@function rem($px) {
	@return $px / 16px * 1rem;
}
@mixin sprite($offset, $width, $height) {
	width: $width;
	height: $height;
	background-image: url('../img/frontpage-sprite.png');
	background-repeat: no-repeat;
	background-position: $offset;
	background-size: 65.8rem 118.2rem;
}
@mixin first-last-no-margin {
	&:first-child {
		margin-top: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
}
@mixin first-last-no-margin-horizontal {
	&:first-child {
		margin-left: 0;
	}
	&:last-child {
		margin-right: 0;
	}
}
@mixin placeholder {
	&::-webkit-input-placeholder { /* WebKit browsers */
    	color: #a3a3a3;
		font-style: italic;
	}
	&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		color: #a3a3a3;
		opacity: 1;
		font-style: italic;
	}
	&::-moz-placeholder { /* Mozilla Firefox 19+ */
		color: #a3a3a3;
		opacity: 1;
		font-style: italic;
	}
	&:-ms-input-placeholder { /* Internet Explorer 10+ */
		color: #a3a3a3;
		font-style: italic;
	}
}
@mixin user-select($value) {
	-webkit-user-select: $value;
	-moz-user-select: $value;
	-ms-user-select: $value;
	-o-user-select: $value;
	user-select: $value;
}